<!-- Mensaje de noticia -->
  <div id="alert_notification">
    <div class="panel preparar">
      <div class="panel-heading">
        <div class="row"> 
          <div class="texto_preparar" id="message_error">No se ha podido guardar. Intentar de nuevo.</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mensaje de aviso -->
  <div id="warnning_notification" style="display: none;">
    <div class="panel avisar">
      <div class="panel-heading">
        <div class="row"> 
          <div class="texto_aviso" id="message_warnning"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mensaje de alerta -->
  <div id="success_notification">
    <div class="panel nuevo_pedido">
      <div class="panel-heading" style="padding: 5px 15px; !important">
        <div class="row"> 
          <div class="texto_nuevo" id="message_success">Ha guardado correctamente</div>
        </div>
      </div>
    </div>
  </div>