<div class="email">
  <h3>Cordial saludo,</h3>

  <p><%= "Su contrato #{@object.contract_number} con Telederma ha expirado y no puede enviar nuevas teleconsultas al dermatólogo. Por favor colocarse en contacto inmediatamente al correo electrónico telederma@dermatologia.gov.co"%></p>
</div>