<div class="email">
  <h3>Cordial saludo <%= @object.business_name %>,</h3>

  <p>Actualmente, no posee creditos disponibles para enviar las teleconsultas al especialista. Favor comunicarse inmediatamente al correo electrónico telederma@dermatologia.gov.co para contratar nuevos créditos. </p>
</div>