<!-- Redes sociales -->
<ul class="social-networks">
  <li>
  <a href="https://www.facebook.com/tele.derma.583"><img src="<%= asset_path("icons/icon-facebook.png") %>"></a>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/UCeDQcQ70CbKQn1knAkBExgw"><img src="<%= asset_path("icons/icon-youtube.png") %>"></a>
  </li>
  <li>
    <a href="https://twitter.com/RedTelederma"><img src="<%= asset_path("icons/icon-twitter.png") %>"></a>
  </li>
</ul>
<!-- Fin Redes sociales -->