<p>Hola <%= @resource.email %>!</p>

<p>Telederma le ha solicitado un enlace para cambiar su contraseña. Puede hacerlo a través del siguiente enlace.</p>

<% if @resource.class.name.to_s == "User"%>
  <p><%= link_to 'Cambiar contraseña', edit_user_password_url(reset_password_token: @token) %></p>
<%elsif @resource.class.name.to_s == "ClientUser"%>
  <p><%= link_to 'Cambiar contraseña', edit_client_user_password_url(m: @resource.email,reset_password_token: @token) %></p>
<%else%>
  <p><%= link_to 'Cambiar contraseña', edit_admin_user_password_url(reset_password_token: @token) %></p>
<%end%>

<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree uno nuevo.</p>