<!-- Modal -->
<div class="modal fade telederma" id="telederma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top: 30%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Acerca de Telederma:</h4>
      </div>
      <div class="modal-body">
        Telederma es una marca registrada por la Empresa Social del Estado Centro Dermatológico Federico Lleras Acosta identificado con NIT 800247350-6 y domicilio en la Avenida 1ª No. 13 A – 61 de la ciudad de Bogotá, Colombia.
      </div>
    </div>
  </div>
</div>