<!-- Modal -->
<div class="modal fade creditos" id="creditos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top: 30%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Créditos:</h4>
      </div>
      <div class="modal-body">
        <p>Dra. Claudia Marcela Rojas Daza
        Directora General 
        Hospital Universitario Centro Dermatológico Federico Lleras Acosta
        Directora General Telederma</p>
        <br>
        <p>Dra. Elin Xiomara Perea Flórez
        Subdirectora  Técnico Científica
        Hospital Universitario Centro Dermatológico Federico Lleras Acosta
        Directora científica Telederma</p>

        <p>Dr. Camilo A. Barrera Valencia
        Asesor Telederma</p>

        <p>Diseño y Desarrollo de la App: BrainCo SAS
        www.brainco.com.co</p>
      </div>
    </div>
  </div>
</div>